.calendar {
  display: flex;
  flex-wrap: wrap;
  gap: $ceilGap;
  width: $daysCount * $ceilSize + ($daysCount - 1) * $ceilGap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  > div {
    background-color: $c-grey;
    border: 1px solid;
    width: $ceilSize;
    height: $ceilSize;
    text-align: center;
    line-height: $ceilSize;
    transition: background-color 0.5s, transform 0.5s;

    &:hover {
      cursor: pointer;
      background-color: $c-pink;
      transform: translateY(-20px);
    }

    @for $i from 1 through 31 {
      &:nth-child(#{$i}) {
        &:before {
          content: "#{$i}";
        }
      }
    }
  }

  @each $number, $day in $days {
    &-#{$day} > div:first-child {
      margin-left: ($ceilSize + $ceilGap) * $number;
    }
  }

  @for $i from 28 through 31 {
    &-#{$i} {
      & > div:nth-child(n + #{$i + 1}) {
        display: none;
      }
    }
  }
}
